@font-face {
  font-family: Hacked;
  src: url(../assets/hacked/HACKED.ttf);
}

.ncou-hacked-font {
  font-family: Hacked, sans-serif;
  color: var(--ncou-text-primary);
}

.ncou-h3 {
  border-bottom: 1px solid var(--ncou-text-primary);
  font-size: 1.3em;
  font-weight: normal;
}

.ncou-text-primary {
  color: var(--ncou-text-primary);
}

.ncou-font-big {
  font-size: 2em;
}

.ncou-font-medium {
  font-size: 1.2em;
}

.ncou-bg-shade-normal {
  background: var(--bg-shade-normal);
}

.ncou-bg-shade-lightest {
  background: var(--bg-shade-lightest);
}

.ncou-bg-shade-transparent {
  background: var(--bg-shade-transparent);
}

.ncou-cyber {
  position: relative;
  // float: left;
  border: none;
  background: transparent;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: auto;
  // font-size: 15px;
  line-height: 2em;
  text-decoration: none;
}

.ncou-cyber::before {
  content: 'X';
  color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px 0em 0px 0px;
  clip-path: polygon(calc(100% - 15px) 0, 100% 50%, 100% 100%, 0 100%, 0 0);
  background-color: var(--bg-shade-normal);
  pointer-events: none;
}


.ncou-input-cyber {
  position: relative;
  float: left;
  input[type=text] {
    border: none;
    padding: 0px 0em 0em 15px;
    background: transparent;
    margin: 0px 0px 0px 0px;
    height: auto;
    color: var(--ncou-text-primary);
  }
}

.ncou-input-cyber::before {
  content: 'X';
  color: transparent;
  position: absolute;
  width: 100%;
  padding: 5px 0em 0px 0px;
  clip-path: polygon(calc(100% - 15px) 0, 100% 50%, 100% 100%, 0 100%, 0 0);
  background-color: var(--bg-shade-normal);
  pointer-events: none;
}

.ncou-input-cyber-small {
  position: relative;
  input[type=text] {
    border: none;
    padding-left: 5px;
    background: transparent;
    margin: 0px 0px 0px 0px;
    min-width: 3ch;
    height: auto;
    color: var(--ncou-text-primary);
    text-align: inherit;
    line-height: inherit;
  }
}

.ncou-input-cyber-small::before {
    content: 'X';
    color: transparent;
    position: absolute;
    width: 100%;
    padding: 0px 0em 5px 0px;
    clip-path: polygon(calc(100% - 7px) 0, 100% 25%, 100% 100%, 0 100%, 0 0);
    background-color: var(--bg-shade-normal);
    pointer-events: none;
}

.ncou-input-condition {
  background: var(--bg-shade-normal);
  height: 1.3em;
}

.ncou-box-notop {
  border-style: solid;
  border-color: var(--bg-shade-normal);
  border-width: 0px 1px 1px;
  margin: 0px 0px 0px 0px;
}

.ncou-items-list {
  ol {
    list-style-type: none;
  }

  li {
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    padding: 5px 0px 5px 1ch;
  }
}

.ncou-edge-list {
  ol {
    list-style-type: none;
  }

  li {
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    padding: 5px 0px 5px 1ch;
  }

  li::before {
    content: " ";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background: var(--dice-plus) no-repeat;
    background-size: contain;
    margin-right: 0.5em;
  }

  li.item::before {
    content: none;
    display: none;
  }

  .ncou-edge-checkbox {
    background: transparent;
    border: 2px solid $ncou-checkbox-color;
    background-size: 18px 18px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .ncou-edge-checkbox::before {
    content: none;
    display: none;
    transform: none;
  }

  .ncou-edge-checkbox::after {
    content: none;
    display: none;
  }

  .ncou-edge-checkbox:checked {
    border-color: transparent;
    background-image: var(--dice-plus);
  }

  li.item-create:last-child::before { 
    content: none;
    display: inline-block;
    width: 1em;
    height: 1em;
    background: transparent;
    background-size: contain;
    margin-right: 0.5em;
  }
}

.ncou-trauma-list {
  ol {
    list-style-type: none;
  }

  li {
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    padding: 5px 0px 5px 1ch;
  }

  li::before {
    content: " ";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background: var(--dice-minus) no-repeat;
    background-size: contain;
    margin-right: 0.5em;
  }

  li:last-child::before { 
    content: none;
    display: inline-block;
    width: 1em;
    height: 1em;
    background: transparent;
    background-size: contain;
    margin-right: 0.5em;
  }
}

.ncou-flaw-list {
  ol {
    list-style-type: none;
  }

  li {
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    padding: 5px 0px 5px 1ch;
  }

  li::before {
    content: " ";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background: var(--dice-minus) no-repeat;
    background-size: contain;
    margin-right: 0.5em;
  }

  li:last-child::before { 
    content: none;
    display: inline-block;
    width: 1em;
    height: 1em;
    background: transparent;
    background-size: contain;
    margin-right: 0.5em;
  }
}

.window-content {
  background: var(--bg-image) repeat;
}

.ncou-check {
  color: var(--ncou-text-primary);
}

.ncou-edge-checkbox-wrapper {
  flex: 0 0 auto;
  margin-right: 0.5em;
}

.ncou-check-cyber {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0;
  color: currentColor;
  width: $ncou-checkbox-size;
  height: $ncou-checkbox-size;
  border: 2px solid $ncou-checkbox-color;
  border-radius: 3px;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  place-content: center;
  // transform: translateY(-0.075em);
}

.ncou-check-cyber::before {
  content: "";
  width: $ncou-checkbox-inner-size;
  height: $ncou-checkbox-inner-size;
  background-color: $ncou-checkbox-inner-color;
  border-radius: 1px;
  top: calc(($ncou-checkbox-size - $ncou-checkbox-inner-size) / 2 - 2px);
  left: calc(($ncou-checkbox-size - $ncou-checkbox-inner-size) / 2 - 2px);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out;
}

.ncou-check-cyber:checked:before {
  -webkit-transform: scale(1);
  transform: scale(1);
  content: "";
}

.ncou-check-cyber:checked:after {
  content: "";
}

 /* The switch - the box around the slider */
.ncou-switch {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 17px;
  max-width: 30px;
}

/* Hide default HTML checkbox */
.ncou-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.ncou-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-shade-lightest);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.ncou-slider:before {
  position: absolute;
  content: var(--lock-icon) / "locked";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: var(--bg-shade-normal);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .ncou-slider:before {
  content: "";
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
  background-color: var(--ncou-text-primary);
}

.ncou-spacer {
  padding: 0.5em 0px 0px 0px;
}

.ncou-trademark-header {
  padding: 0px 0em 0em 5px;
  //font-size: 25px;
}

.editor-content {
  position: relative;
}

.ncou-gear-list {
  border-bottom: none !important;
}

.ncou-actor-header {
  min-height: 7.5em;
}
