:root {
  --color-tan: #444;
  --color-tan-light: #b5b3a4;
  --color-tan-lighter: #d7d5c4;
  --color-tan-dark: #191813;
  --color-white: #fff;
  --color-black: #000;
  --bg-shade-normal-light: rgba(1, 1, 1, 0.125);
  --bg-shade-lightest-light: rgba(1, 1, 1, 0.1);
  --bg-shade-transparent-light: rgba(1, 1, 1, 0);
  --bg-shade-normal-dark: rgba(250, 250, 250, 0.125);
  --bg-shade-lightest-dark: rgba(250, 250, 250, 0.1);
  --bg-shade-transparent-dark: rgba(250, 250, 250, 0);

  --bg-image-light: url('../assets/ncou-pattern-light.webp');
  --bg-image-dark: url('../assets/ncou-pattern-dark.webp');
  --dice-plus-light: url('../assets/dice-plus-light.svg');
  --dice-plus-dark: url('../assets/dice-plus-dark.svg');
  --dice-minus-light: url('../assets/dice-minus-light.svg');
  --dice-minus-dark: url('../assets/dice-minus-dark.svg');
  --lock-dark: url('../assets/padlock-dark.svg');
  --lock-light: url('../assets/padlock-light.svg');
}

.theme-dark {
  --bg-image: var(--bg-image-dark);
  --bg-shade-normal: var(--bg-shade-normal-dark);
  --bg-shade-lightest: var(--bg-shade-lightest-dark);
  --bg-shade-transparent: var(--bg-shade-transparent-dark);
  --ncou-text-primary: var(--color-tan-lighter);
  --dice-plus: var(--dice-plus-dark);
  --dice-minus: var(--dice-minus-dark);
  --color-checkbox: var(--color-tan-lighter);
  --ncou-text-inverted: var(--color-tan-dark);
  --lock-icon: var(--lock-light);

  prose-mirror {
	  --color-control-bg: #transparent;
    color: var(--ncou-text-primary);
  }

  prose-mirror menu {
    background: var(--color-tan-light);
  }

  prose-mirror button.toggle {
    background: var(--bg-shade-lightest);
    color: var(--ncou-text-primary);
    border: 1px solid var(--bg-shade-normal);
  }
}

.theme-light {
  --bg-image: var(--bg-image-light);
  --bg-shade-normal: var(--bg-shade-normal-light);
  --bg-shade-lightest: var(--bg-shade-lightest-light);
  --bg-shade-transparent: var(--bg-shade-transparent-light);
  --ncou-text-primary: var(--color-tan);
  --dice-plus: var(--dice-plus-light);
  --dice-minus: var(--dice-minus-light);
  --color-checkbox: var(--color-tan);
  --ncou-text-inverted: var(--color-tan-lighter);
  --lock-icon: var(--lock-dark);

  prose-mirror {
	  --color-control-bg: #transparent;
    color: var(--ncou-text-primary);
  }

  prose-mirror menu {
    background: var(--color-tan-light);
  }

  prose-mirror button.toggle {
    background: var(--bg-shade-lightest);
    color: var(--ncou-text-primary);
    border: 1px solid var(--bg-shade-normal);
  }
}
