$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$border-groove: 2px groove #eeede0;

$ncou-bg-shade-normal: rgba(1, 1, 1, 0.125);
$ncou-bg-shade-lightest: rgba(1, 1, 1, 0.1);
$ncou-bg-shade-transparent: rgba(1, 1, 1, 0);

$ncou-checkbox-size: 16px;
$ncou-checkbox-inner-size: 8px;
$ncou-checkbox-inner-color: $c-tan;
$ncou-checkbox-color: $c-tan;
