.ncou-grid {
  display: grid;
  gap: 10px;
  margin: 10px 0;
  padding: 0;
  grid-auto-rows: minmax(5px, auto);
}

.ncou-grid-2col {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.ncou-grid-3col {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.ncou-grid-4col {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.ncou-grid-6col {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.ncou-grid-7col {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.ncou-grid-8col {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.ncou-grid-9col {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.ncou-grid-10col {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.ncou-grid-11col {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.ncou-grid-12col {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

// .ncou-grid-12col > div {
//   border: 2px solid rgb(233 171 88);
//   background-color: rgb(233 171 88 / 50%);
//   color: #d9480f;
// }

.ncou-grid-12col {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.ncou-grid-span-1 { grid-column-end: span 1 }
.ncou-grid-span-2 { grid-column-end: span 2 }
.ncou-grid-span-3 { grid-column-end: span 3 }
.ncou-grid-span-4 { grid-column-end: span 4 }
.ncou-grid-span-5 { grid-column-end: span 5 }
.ncou-grid-span-6 { grid-column-end: span 6 }
.ncou-grid-span-7 { grid-column-end: span 7 }
.ncou-grid-span-8 { grid-column-end: span 8 }
.ncou-grid-span-9 { grid-column-end: span 9 }
.ncou-grid-span-10 { grid-column-end: span 10 }
.ncou-grid-span-11 { grid-column-end: span 11 }
.ncou-grid-span-12 { grid-column-end: span 12 }



