.window-app {
  font-family: $font-primary;
}

.sheet nav.sheet-tabs > [data-tab] {
  color: var(--ncou-text-primary)
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}